# http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true

[**.md]
trim_trailing_whitespace = false

[**.html]
insert_final_newline = false

[**.rs]
indent_size = 4

[**.py]
indent_size = 4

[{Makefile,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab

[**.toml]
indent_size = 2

[*.{kt,kts}]
indent_size = 4
# true (recommended) / false
insert_final_newline = true
# possible values: number (e.g. 120) (package name, imports & comments are ignored), "off"
# it's automatically set to 100 on `ktlint --android ...` (per Android Kotlin Style Guide)
max_line_length = off
